AGE_BUTTON = "button.text--button:nth-child(3)"
CHANGE_CITY_BUTTON = "#root > header > div.modal.modal-locality-start__wrap.modal--open > div > div > div.modal-locality__controls > button.button.text--button.modal-locality--start-button.button--white"
KRASNODAR_BUTTON = "button.modal-locality__list-item:nth-child(1)"

PRODUCT_ARTICUL = "/html/body/div[1]/main/section/div[2]/div[2]/div/div[1]/p"
PRODUCT_AVAILABILITY_TEXT = "/html/body/div[1]/main/section/div[2]/div[2]/div/div[3]/p[2]"
PRODUCT_AVAILABILITY_SHOP = "/html/body/div[1]/main/section/div[2]/div[2]/div/div[3]/p[2]/a"
PRODUCT_BRAND = "//*[@id='root']/main/section/div[2]/div[2]/div/div[1]/div/p"
PRODUCT_COUNTRY = "/html/body/div[1]/main/section/div[2]/div[2]/div/div[2]/button[3]/p"
PRODUCT_DESCRIPTION = "meta[name='description']::attr(content)"
PRODUCT_IMAGES = "/html/body/div[1]/main/section/div[2]/div[1]/div[1]/div[1]/img"
PRODUCT_LINK = ".card-product a::attr(href)"
PRODUCT_CURRENT_PRICE = "/html/body/div[1]/main/section/div[2]/div[2]/div/div[4]/div/div[2]/p"
PRODUCT_ORIGINAL_PRICE = "/html/body/div[1]/main/section/div[2]/div[2]/div/div[3]/p[1]/span"
PRODUCT_SECTION = "//*[@id='root']/main/div"
PRODUCT_TITLE = "/html/body/div[1]/main/section/div[2]/div[2]/div/h1"
PRODUCT_TYPE = "/html/body/div[1]/main/section/div[2]/div[2]/div/div[2]/button[2]/p"
PRODUCT_VOLUME = "/html/body/div[1]/main/section/div[2]/div[2]/div/div[2]/button[1]/p"

ALLOWEED_DOMAINS = "alkoteka.com"
ENCODING = "utf-8"
START_URLS = "https://alkoteka.com/catalog/slaboalkogolnye-napitki-2"
